# Berlin Election Results - Sample Notebook

## Explore data

In [1]:

import pandas as pd        

# Read csv file
dataframe = pd.read_csv("./data/03-gold/berlin-election-results-referendum-2023-berlin-2030-klimaneutral-csv/berlin-election-results-referendum-2023-berlin-2030-klimaneutral-electoral-districts.csv")

In [2]:

# Display 5 first rows
dataframe.head()

      id  district_id  ... vote_yes_percentage  vote_no_percentage
0  01100            1  ...           64.935065           35.064935
1  01101            1  ...           67.365269           32.335329
2  01102            1  ...           64.321608           34.673367
3  01103            1  ...            0.000000            0.000000
4  01104            1  ...           68.458781           31.182796

[5 rows x 14 columns]

In [3]:

# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3764 entries, 0 to 3763
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        3764 non-null   object
 1   district_id               3764 non-null   int64
 2   electoral_district_id     3764 non-null   object
 3   eligible_voters           3764 non-null   int64
 4   voters                    3764 non-null   int64
 5   invalid_votes             3764 non-null   int64
 6   valid_votes               3764 non-null   int64
 7   vote_yes                  3764 non-null   int64
 8   vote_no                   3764 non-null   int64
 9   voter_turnout             3764 non-null   float64
 10  invalid_votes_percentage  3764 non-null   float64
 11  valid_votes_percentage    3764 non-null   float64
 12  vote_yes_percentage       3764 non-null   float64
 13  vote_no_percentage        3764 non-null   float64
dtypes: float64(5), int64(7), object(2)
memory usage: 411.8+ KB

In [4]:

# Describe dataframe
dataframe.describe()

/Users/scf7be/workspace-university/open-data-product-berlin-election-results-source-aligned/.venv/lib/python3.13/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

       district_id  eligible_voters  ...  vote_yes_percentage  vote_no_percentage
count  3764.000000      3764.000000  ...          3764.000000         3764.000000
mean      6.420032       645.609192  ...            40.792986           41.353271
std       3.344707       570.590871  ...            25.864858           26.064642
min       1.000000         0.000000  ...             0.000000            0.000000
25%       4.000000         0.000000  ...            25.069188           20.371514
50%       6.000000       872.500000  ...            40.360903           45.300579
75%       9.000000      1137.000000  ...            60.869565           64.494035
max      12.000000      2200.000000  ...            92.307692           90.476190

[8 rows x 12 columns]